@import "reset";

body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myCanvas {
    border: 5px solid lightgreen;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myScore {
    margin-top: 1rem;
}

#myScore,
#myScore2 {
    color: white;
    font-size: 1.5rem;
    padding: 10px;
}

#Start {
    padding: 0.25rem 0.5rem;
    background-color: yellow;
    font-size: 1.15rem;
    display: block;
    margin-top: 15px;
}